// Fonts
$main_font : "Montserrat", sans-serif;

// Colors
$black : #000000;
$white : #ffffff;
$brown : #460f02;
$yellow : #ffc120;
$salmon : #fff8eb;
$orange : #E78F81;
$skyblue : #D4F6FF;
$blue : #295F98;
$green : #DFF2EB;
$gray : #3C3D37;
$light : #DFF2EB;
$overlay: #ffebc6;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;